# Default ignored files/shelf//workspace.xml# Datasource local storage ignored files/../../../../../../:\Document\projects\SpringMVC_Thymeleaf_Template\SpringMVC_Thymealeaf\.idea/dataSources//dataSources.local.xml# Editor-based HTTP Client requests/httpRequests/